{% extends 'base.html' %}
{% load static %}
{% block title%}Over Ons{% endblock %}
{% block content %}
<!-- banner -->

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>We hebben een goeie expertise voor 15 jaar met personeen en firmas</h1>
                    <strong>we geven niet om kilomters en de staat van uw auto</strong>
                    <span>STEEDS METEEN JE GELD CASH OF OVERSCHRIJVING</span>
                    <p>
                        Tahir is de beste garagiste in Belgie
                        <head></head>
                    </p>
                    <a href="{% url 'upload' %}">Auto Aanbieden</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end banner -->

{% endblock %}


