{% extends 'base.html' %}
{% load static %}
{% block title%}Contact{% endblock %}
{% block content %}
<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>Contacter Ons</h1>
                    <strong>+32 494 143 311</strong>
                    <span> <a href="exportcar.be">exportcar@gmail.com</a></span>
                    <p>
                        Tahir is de beste garagiste in Belgie
                        <head></head>
                    </p>
                    <a href="#">Auto Aanbieden</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end banner -->
{% endblock %}
