{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>exportcar</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css'%}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'website/images/fevicon.png' %}" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="{% static 'website/images/loading.gif' %}" alt="#"/></div>
</div>
<!-- end loader -->
<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <a class="navbar-brand" href="#">ExportCar</a>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <a href="index.html"><img src="{% static 'website/images/car_img3.png' %}" alt="#"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="home.html"> Home </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Over Ons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contacter Ons</a>
                                </li>
                            </ul>
                            <div class="sign_btn"><a href="#">Auto Opkoper</a></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header inner -->
<!-- end header -->
<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>Ik koop je auto snel en hoge prijs</h1>
                    <strong>we geven niet om kilomters en de staat van uw auto</strong>
                    <span>STEEDS METEEN JE GELD CASH OF OVERSCHRIJVING</span>
                    <p>
                        Tahir is de beste garagiste in Belgie
                        <head></head>
                    </p>
                    <a href="#">Auto Aanbieden</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end banner -->
<!-- car -->
<div class="car">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>WIJ ZIJN STEEDS OPZOEK NAAR AUTO'S</h2>
                    <span>WIJ KOPEN ALLE AUTOMERKEN</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img1.png' %}" alt="#"/></figure>
                    <h3>Personenwagens</h3>
                </div>
            </div>
            <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img2.png' %}" alt="#"/></figure>
                    <h3>Bedreijfwagens</h3>
                </div>
            </div>
            <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img3.png' %}" alt="#"/></figure>
                    <h3>Schadewagens</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end car -->
<!-- bestCar -->
<div id="contact" class="bestCar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <form class="main_form">
                            <div class="titlepage">
                                <h2>U WILT UW AUTO VERKOPEN?</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Merk/Model" type="Search" name="merk">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Bouwaar" type="Bouwjaar" name="year">
                                </div>

                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Transmissie" type="Transmissie"
                                           name="transmission">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Kilometerstand" type="KM" name="km">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Richtprijs" type="Search" name="Search">
                                </div>
                                <div class="col-md-12">
                                    <input type="email" class="contactus" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="email">
                                </div>
                                <div class="col-md-12">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>

                                <form>
                                    <div class="form-row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="First name">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Last name">
                                        </div>
                                    </div>
                                </form>

                                <div class="col-md-12">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <button class="find_btn">AUTO AANBIEDEN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end bestCar -->
<!-- choose  section -->
<div class="choose ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>WAAROM VOOR ONS KIEZEN</h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when<br> looking at its layout. The point of using </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="choose_box">
                    <span>01</span>
                    <p>Snel en efficiënt</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="choose_box">
                    <span>02</span>
                    <p>Top prijs - Top service </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="choose_box">
                    <span>03</span>
                    <p>Meteen cash geld mogelijk</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end choose  section -->
<!-- cutomer -->
<div class="cutomer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Wat is zegt onze klant?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="cross_img">
                                        <figure><img src="{% static 'website/images/cross_img.png' %}" alt="#"/>
                                        </figure>
                                    </div>
                                    <div class="our cross_layout">
                                        <div class="test_box">
                                            <h4>Zair</h4>
                                            <span>Garage</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit ess</p>
                                            <i><img src="{% static 'static/website/images/te1.png' %}" alt="#"/></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="cross_img">
                                        <figure><img src="{% static 'website/images/cross_img.png' %}" alt="#"/>
                                        </figure>
                                    </div>
                                    <div class="our cross_layout">
                                        <div class="test_box">
                                            <h4>Tahir</h4>
                                            <span>DHL</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit ess</p>
                                            <i><img src="{% static 'website/images/te1.png' %}" alt="#"/></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="cross_img">
                                        <figure><img src="{% static 'website/images/te1.png' %}" alt="#"/></figure>
                                    </div>
                                    <div class="our cross_layout">
                                        <div class="test_box">
                                            <h4>Samir</h4>
                                            <span>Bazaar</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit ess</p>
                                            <i><img src="{% static 'website/images/te1.png' %}" alt="#"/></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cutomer -->
<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cont_call">
                        <h3><strong class="multi color_chang">Bel Ons</strong><br>
                            +32 494 14 33 11
                        </h3>
                    </div>
                    <div class="cont">
                        <h3><strong class="multi"> Free Multipurpose</strong>
                            Responsive Landing Page 2019
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'website/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'website/js/plugin.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'website/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'website/js/custom.js' %}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>

