{% extends 'base.html' %}
{% load static %}
{% block title%}Home {% endblock %}
{% block content %}

<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>Ik koop je auto snel en hoge prijs</h1>
                    <strong>we geven niet om kilomters en de staat van uw auto</strong>
                    <span>STEEDS METEEN JE GELD CASH OF OVERSCHRIJVING</span>
                    <p>
                        Tahir is de beste garagiste in Belgie
                        <head></head>
                    </p>
                    <a href="{% url 'upload' %}">Auto Aanbieden</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end banner -->
<!-- car -->
<div class="car">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>WIJ ZIJN STEEDS OPZOEK NAAR AUTO'S</h2>
                    <span>WIJ KOPEN ALLE AUTOMERKEN</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img1.png' %}" alt="#"/></figure>
                    <h3>Personenwagens</h3>
                </div>
            </div>
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img2.png' %}" alt="#"/></figure>
                    <h3>Bedreijfwagens</h3>
                </div>
            </div>
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img3.png' %}" alt="#"/></figure>
                    <h3>Schadewagens</h3>
                </div>
            </div>
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/truck.png' %}" height="20" alt="#"/></figure>
                    <h3>Vraachtwagens</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end car -->




{% endblock %}
