{% extends 'base.html' %}
{% load static %}
{% block title%}Home {% endblock %}
{% block content %}

<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>Ik koop je auto snel en hoge prijs</h1>
                    <strong>we geven niet om kilomters en de staat van uw auto</strong>
                    <span>STEEDS METEEN JE GELD CASH OF OVERSCHRIJVING</span>
                    <p>
                        Tahir is de beste garagiste in Belgie
                        <head></head>
                    </p>
                    <a href="{% url 'home' %}">Auto Aanbieden</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end banner -->
<!-- car -->
<div class="car">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>WIJ ZIJN STEEDS OPZOEK NAAR AUTO'S</h2>
                    <span>WIJ KOPEN ALLE AUTOMERKEN</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img1.png' %}" alt="#"/></figure>
                    <h3>Personenwagens</h3>
                </div>
            </div>
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img2.png' %}" alt="#"/></figure>
                    <h3>Bedreijfwagens</h3>
                </div>
            </div>
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/car_img3.png' %}" alt="#"/></figure>
                    <h3>Schadewagens</h3>
                </div>
            </div>
            <div class="col-md-3 padding_leri">
                <div class="car_box">
                    <figure><img src="{% static 'website/images/truck.png' %}" height="20" alt="#"/></figure>
                    <h3>Vraachtwagens</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end car -->

<!-- bestCar -->
<div id="contact" class="bestCar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <form class="main_form" method="post" action="{% url 'home' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="titlepage">
                                <h2>U WILT UW AUTO VERKOPEN?</h2>
                            </div>
                            <!-- Form -->
                            <div class="section-heading">
                                <h2>Get in touch - {{ voornaam }}</h2>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Merk/Model" name="merk">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Bouwaar" name="year">
                                </div>

                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Transmissie"
                                           name="transmission">
                                </div>
                                <div class="col-md-12">
                                    <input type="contactus" class="contactus" name="nrg"
                                           placeholder="Brandstof">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Kilometerstand" name="km">
                                </div>
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Richtprijs" name="price">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="contactus" placeholder="Decsription" name="desc"></textarea>
                                </div>

                                <div class="col-md-12">
                                    <input type="email" class="contactus" name="email"
                                           aria-describedby="emailHelp" placeholder="email">
                                </div>

                                <div class="col-md-12">
                                    <input type="file" accept="image/png" name="file">
                                </div>

                                <div class="container">


                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Naam" name="naam">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Voornaam"
                                                       name="voornaam">
                                            </div>
                                            <div class="col">
                                                <input type="tel" class="form-control" placeholder="GSM nummer"
                                                       name="gsm">
                                            </div>
                                        </div>
                                    </form>


                                    <div class="col-sm-12">
                                        <button class="find_btn">AUTO AANBIEDEN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end form -->
<!-- end bestCar -->


{% endblock %}
