{% extends 'base.html' %}
{% load static %}
{% block title %}upload{% endblock %}


{% block content %}

      <div class="features">
          <h1>Auto Gegevens</h1>
          <form method="post">
              {% csrf_token %}
              {{ form.year }}
              {{ form.nrg }}
              {{ form.transmission }}
              {{ form.km }}
              {{ form.price }}
              {{ form.description }}
              {{ form.email }}
              {{ form.name }}
              {{ form.tel }}
              {{ form.photo }}


              <input type="text" placeholder="Merk" class="form-control">
              <input type="text" placeholder="Model" class="form-control">
              <input type="text" placeholder="Brandstof" class="form-control">
              <input type="text" placeholder="Transmissie" class="form-control">
              <input type="text" placeholder="Bouwaar" class="form-control">
              <input type="text" placeholder="" class="form-control">
              <textarea class="form-control" placeholder="Staat"></textarea>
              <button class="btn btn-success" type="submit">Send</button>
          </form>
      </div>

{% endblock %}